#previewPaper {
  width: 100%;
  height: auto;
  // max-width: 595px !important;
  min-height: 100%;
  // font-size: 12px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 120%;
  }
}

#paperAside {
  color: white;
}
