* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*  */

#root {
  height: 100vh;
  height: 100dvh;
}

/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}
